<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SE01 Assessment - Igor Lapinski
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="content">
    <div class="ion-padding" *ngFor="let beaker of allBeakers, let i = index">
      <div class="unit" [id]="unit" *ngFor="let unit of beaker">
  
      </div>
    </div>
  </div>


  <div class="ion-padding">
    Move from beaker:
    <ion-input placeholder="Beaker" type="number" min="1" max="3" [(ngModel)]="move.oldBeaker">
    </ion-input>
  </div>

<div class="ion-padding">
  To beaker:
  <ion-input placeholder="New beaker" type="number" min="1" max="3" maxlength="1" [(ngModel)]="move.newBeaker">
  </ion-input>
</div>


  <ion-button mode="ios" (click)="makeMove()">
    Make a move
  </ion-button>
</ion-content>
