.content {
  display: flex;
  max-width: 400px;
  transform: scale(1, -1);
}

.unit {
  height: 100px;
  width: 100px;

  &[id="1"] {
    background-color: var(--ion-color-danger);
  }

  &[id="2"] {
    background-color: var(--ion-color-success);
  }

  &[id="3"] {
    background-color: var(--ion-color-primary);
  }

  &[id="0"] {
    background-color: var(--ion-color-light);
  } 
}

ion-input {
  background-color: #eaeaea;
  width: 180px;
}